* {
  font-family: "Montserrat", monospace;
}
body {
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #0e151b;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}
h1 {
  margin-top: 300px;
  color: #5fabed;
}
h2 {
  color: #5fabed;
  font-size: 35px;
  position: relative;
  top: 150px;
}
a {
  line-height: 1.2;
}

a:visited,
a:link,
a:active {
  color: #bbb;
  text-decoration: none;
  font-size: 26px;
  text-indent: 2px;
}
a:hover {
  color: #97cdfd;
}
.col1,
.col2,
.col3 {
  display: inline-table;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

input {
  color: #97cdfd;
  background-color: #1b232b;
  width: 700px;
  text-align: center;
  height: 50px;
  font-size: 14px;
  border: none;
  outline: none;
}
input:focus::placeholder {
  color: transparent;
  text-align: center;
}
button {
  background-color: #1b232b;
  color: #97cdfd;
}
button:hover {
  background-color: #97cdfd;
  color: #0e151b;
}
.go {
  width: 50px;
  height: 50px;
  color: #97cdfd;
  border: none;
  transition: background-color 0.3s, border-radius 0.3s;
}
.go:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.se_btn {
  width: 50px;
  height: 50px;
  color: #1b232b;
  border: none;
  vertical-align: middle;
  transition: background-color 0.3s, border-radius 0.3s;
}
.se_btn:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#se_icon {
  width: 24px;
  height: 24px;
}
.filter-white {
  filter: invert(1);
}
